.alert {
    display: inline-block;
    border-radius: 2px;
    color: $light;
    padding: 12px 30px 12px 20px;
    position: fixed;
    top: 10px;
    left: 50vw;
    transform: translateX(-50%);
    background-color: $brand-color;

    &-icon {
        font-size: 10px;
        position: absolute;
        top: 2px;
        right: 3px;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &-success {
        background-color: $green;
    }

    &-warning {
        background-color: $warning;
    }

    &-error {
        background-color: $error;
    }
}
